datasets==3.1.0
huggingface_hub==0.26.2
Jinja2==3.1.6
lemminflect==0.2.3
nltk==3.9.1
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pluralizer==1.2.0
pytest==8.3.3
scikit_learn==1.6.1
stanza==1.9.2
tensorflow==2.19.0
torch==2.5.1
tqdm==4.66.6
transformers==4.46.2
